/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --selective-yellow: hsl(42, 94%, 55%);
  --eerie-black-1: hsl(0, 0%, 9%);
  --eerie-black-2: hsl(180, 3%, 7%);
  --quick-silver: hsl(0, 0%, 65%);
  --radical-red: hsl(351, 83%, 61%);
  --light-gray: hsl(0, 0%, 80%);
  --isabelline: hsl(36, 33%, 94%);
  --gray-x-11: hsl(0, 0%, 73%);
  --kappel_15: hsla(170, 75%, 41%, 0.15);
  --platinum: hsl(0, 0%, 90%);
  --gray-web: hsl(0, 0%, 50%);
  --black_80: hsla(0, 0%, 0%, 0.8);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --kappel: hsl(170, 75%, 41%);
  --white: hsl(0, 0%, 100%);
  --white: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  --radius-5: 10px; /* Default border radius */
  --radius-3: 5px; /* Smaller border radius */
  --primary-color: rgba(75, 0, 130, 0.8); /* Semi-transparent purple */
  --primary-color-hover: rgba(138, 43, 226, 0.8); /* Lighter semi-transparent purple for hover */
  --gradient-start: rgba(75, 0, 130, 0.7); /* Purple gradient start */
  --gradient-end: rgba(138, 43, 226, 0.7); /* Purple gradient end */
  --text-color: #333; /* Dark text color */
  --subtext-color: #666; /* Lighter text color */
  --button-text-color: white; /* Button text color */
  --shadow-color: rgba(0, 0, 0, 0.2); /* Shadow color */
  --selective-yellow: #FFBA08; /* Yellow color for badges */
  --kappel_15: rgba(75, 0, 130, 0.15); /* Light purple for badges */
  --kappel: #4B0082; /* Dark purple */
  --eerie-black-1: #1B1B1B; /* Dark color for text */
  --radical-red: #FF0054; /* Red color for price */
  --platinum: #E5E5E5; /* Light grey for dividers */
  --quick-silver: #A3A3A3; /* Light grey for icons */
  --ff-league_spartan: 'League Spartan', sans-serif; /* Font family */
  --fs-4: 1.25rem; /* Font size 4 */
  --fs-6: 1rem; /* Font size 6 */
  --fs-7: 0.875rem; /* Font size 7 */
  --fw-500: 500; /* Font weight 500 */
  --fw-600: 600; /* Font weight 600 */
  --transition-1: all 0.3s ease; /* Transition 1 */
  --transition-2: transform 0.3s ease; /* Transition 2 */

  /**
   * gradient color
   */

  --gradient: linear-gradient(-90deg,hsl(151, 58%, 46%) 0%,hsl(170, 75%, 41%) 100%);

  /**
   * typography
   */

  --ff-league_spartan: 'League Spartan', sans-serif;
  --ff-poppins: 'Poppins', sans-serif; 

  --fs-1: 4.2rem;
  --fs-2: 3.2rem;
  --fs-3: 2.3rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;
  --fs-7: 1.3rem;

  --fw-500: 500;
  --fw-600: 600;

  /**
   * spacing
   */

  --section-padding: 75px;

  /**
   * shadow
   */

  --shadow-1: 0 6px 15px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0 10px 30px hsla(0, 0%, 0%, 0.06);
  --shadow-3: 0 10px 50px 0 hsla(220, 53%, 22%, 0.1);

  /**
   * radius
   */

  --radius-pill: 500px;
  --radius-circle: 50%;
  --radius-3: 3px;
  --radius-5: 5px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
data,
input,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0a0a0a, #4B0082); /* Light black and dark purple gradient */
  color: #333; /* Light black color */
  font-size: 1.6rem;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: background-color 0.5s ease;
}

.light-black-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #4902f0, #2e2eaa); /* Dark blue gradient */
  opacity: 0.6; /* Adjust opacity for desired effect */
  z-index: 1; /* Ensure it's above the body but below the blur */
}

.blurred-shape {
  position: fixed;
  background-color: rgba(138, 43, 226, 0.5); /* Blurred purple color */
  filter: blur(20px); /* Adjust blur amount as needed */
  border-radius: 50%;
  z-index: -1; /* Ensure shapes are behind other content */
}


.abstract-blur {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: #ab2faf; /* Light black color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  opacity: 0.6; /* Adjust opacity for desired effect */
  z-index: 2; /* Ensure it's above the gradient */
}

/* Mixin for abstract blur effect */
@mixin abstract-blur($size, $opacity) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size;
  height: $size;
  background: purple;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  opacity: $opacity;
  z-index: 2; /* Ensure it's above the gradient */
}






:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { 
  padding-inline: 15px; 
}

.section { padding-block: var(--padding); }

.shape {
  position: absolute;
  display: none;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  color: #b2bec3; /* Soft pastel color */
  font-family: var(--ff-league_spartan);
  line-height: 1;
}

.h1,
.h2 { font-weight: var(--fw-600); }

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
}

.section-title {
  text-align: center;
  color: white;
}

.section-title .span {
  display: inline-block;
  color: var(--radical-red);
}

.btn {
  background-color: var(--kappel);
  color: var(--white);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: max-content;
  padding: 10px 20px;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.middle-card {
  position: relative;
  top: -20px; /* Adjust the value as needed */
}


.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.btn::before {
  inset: 0;
  background-image: var(--gradient);
  z-index: -1;
  border-radius: inherit;
  transform: translateX(-100%);
  transition: var(--transition-2);
}

#button {color: #fff; border: none; cursor: pointer; background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); font-size: 17px; padding: 8px 15px; border-radius: 5px; }#button:hover {}#button:focus {}

.btn:is(:hover, :focus)::before { transform: translateX(0); }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-weight: var(--fw-500);
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-text {
  font-size: var(--fs-5);
  text-align: center;
  margin-block: 15px 25px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.card {
  /* Group 1000001016 */

width: 498px;
height: 864px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px 70px;
gap: 40px;

position: absolute;
width: 498px;
height: 864px;
left: 32px;
top: 30px;

/* Card highlighten background */
background: linear-gradient(180deg, rgba(255, 255, 255, 0.094) 0%, rgba(255, 255, 255, 0.03) 100%);
/* Transparent stroke */
border: 1px solid rgba(255, 255, 255, 0.13);
backdrop-filter: blur(16.5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;


/* About songs container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 390px;
height: 758px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Song name and author */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 390px;
height: 678px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* comp1 1 */

width: 360px;
height: 422px;

background: url(comp1.jpg);
border-radius: 44px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Songs name */

width: 390px;
height: 44px;

/* H3 Heading */
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 110%;
/* identical to box height, or 44px */
text-align: center;
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Singer */

width: 316px;
height: 180px;

/* P2 Paragraph */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

/* Dark grey */
color: #7D7E80;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Number of listens */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 12px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.menu-bar {
  position: absolute;
  top: 20px; /* Adjust this value to move the navbar up or down */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
}

.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: .2s;
  border-radius: 25px;
}

.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}

.menu-bar li:hover {
  color: black;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    text-fill-color: #ffeba7;
    color: #ffeba7;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}





.header.active { position: fixed; }

.header .container,
.header-actions,
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}



.header-action-btn,
.nav-close-btn {
  position: relative;
  color: var(--eerie-black-1);
  font-size: 24px;
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) { color: var(--kappel); }

.header-action-btn .btn-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--kappel);
  color: var(--white);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-6);
  min-width: 20px;
  height: 20px;
  border-radius: var(--radius-circle);
}

.navbar {
  position: fixed;
  top: 0;
  left: -320px;
  background-color: var(--white);
  width: 100%;
  max-width: 320px;
  height: 100%;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(320px);
  transition: 0.5s var(--cubic-out);
}

.navbar .wrapper {
  padding: 15px 20px;
  border-block-end: 1px solid var(--platinum);
}

.nav-close-btn {
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  padding: 8px;
  border-radius: var(--radius-circle);
}

.nav-close-btn:is(:hover, :focus) {
  background-color: var(--kappel);
  color: var(--white);
}

.navbar-list { padding: 15px 20px; }

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--platinum); }

.navbar-link {
  padding-block: 8px;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--kappel); }

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_80);
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding-block-start: calc(var(--section-padding) + 80px); }

.hero .container {
  display: grid;
  gap: 40px;
}

.hero-text {
  color: white;
  font-size: var(--fs-4);
  text-align: center;
  margin-block: 18px 20px;
}


.hero .btn { margin-inline: auto; }

.hero-shape-10 {
  position: absolute;
  right: 390px; /* Adjust as needed to fit within the img-holder */
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s ease;
  cursor: grab;
}

.hero-shape-10:hover {
  transform: translateY(-50%) scale(1.1); /* Slightly enlarge on hover */
}

body {
  transition: background-color 0.5s ease;
}

.light-black-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.blurred-shape {
  position: fixed;
  background-color: rgba(138, 43, 226, 0.5); /* Blurred purple color */
  filter: blur(20px); /* Adjust blur amount as needed */
  border-radius: 50%;
  z-index: -1; /* Ensure shapes are behind other content */
}

.hero-shape-1 {
  position: absolute;
  right: 0; /* Adjust as needed to fit within the img-holder */
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s ease;
  cursor: grab;
}

.hero-shape-1:hover {
  transform: translateY(-50%) scale(1.1); /* Slightly enlarge on hover */
}


/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

.category .section-subtitle { color: var(--radical-red); }

.category .section-title { --color: var(--kappel); }

.category .section-text { margin-block-end: 40px; }

.category-card {
  padding: 50px 30px;
  text-align: center;
  border-radius: var(--radius-5);
}

.category-card .card-icon {
  background-color: hsla(var(--color), 0.1);
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  margin-inline: auto;
  margin-block-end: 30px;
}

.category-card .card-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-5);
  margin-block: 15px 25px;
}

.category-card .card-badge {
  background-color: hsla(var(--color), 0.1);
  color: hsl(var(--color));
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  padding: 2px 18px;
  max-width: max-content;
  margin-inline: auto;
  border-radius: var(--radius-5);
}





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  padding-block-start: 0;
  overflow: hidden;
}

.about .container {
  display: grid;
  gap: 30px;
}

.about-banner {
  position: relative;
  z-index: 1;
}

.about-banner .img-holder { border-radius: var(--radius-10); }

.about-shape-2 {
  display: block;
  bottom: -100px;
  left: -60px;
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% { transform: translateY(0); }

  40% { transform: translateY(-30px); }

  60% { transform: translateY(-15px); }
}

.about :is(.section-subtitle, .section-title, .section-text) {
  text-align: left;
}

.about-item {
  margin-block: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-item ion-icon {
  color: var(--selective-yellow);
  font-size: 20px;
  --ionicon-stroke-width: 50px;
}

.about-item .span {
  color: var(--eerie-black-1);
  font-family: var(--ff-league_spartan);
}





/*-----------------------------------*\
  #COURSE
\*-----------------------------------*/


.course-card {
  position: relative;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: var(--radius-5);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Stroke outline for 3D look */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow for 3D effect */
  padding: 20px;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
  transform: perspective(1000px) rotateY(0deg);
  will-change: transform, box-shadow, background;
  backdrop-filter: blur(10px); /* Background blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  overflow: hidden; /* Ensure the ripple effect doesn't overflow */
}

.course-card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 10%, transparent 10.01%);
  background-size: 50px 50px;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

.course-card:hover::before {
  opacity: 0.7;
  transform: translate(-50%, -50%) scale(1.1);
}

.course-card:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(5deg) scale(1.02); /* Slightly larger on hover */
}

.course-card .img-cover {
  transition: transform 0.3s; 
}

.course-card:is(:hover, :focus-within) .img-cover { 
  transform: scale(1.1); 
}

.course-card :is(.abs-badge, .badge) {
  font-family: var(--ff-league_spartan);
  border-radius: var(--radius-3);
  color: white; /* Changed to white */
}

.course-card .abs-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--selective-yellow);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  padding: 6px 8px;
  padding-block-end: 3px;
}

.course-card .abs-badge ion-icon {
  font-size: 18px;
  margin-block-end: 5px;
  --ionicon-stroke-width: 50px;
}

.course-card .card-content {
  padding: 25px;
}

.course-card .badge {
  background-color: rgb(205, 144, 218); /* Change background color to green */
  max-width: max-content;
  color: white; /* Changed to white */
  line-height: 25px;
  padding-inline: 10px;
}

.course-card .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-block: 15px 8px;
  transition: color 0.3s;
  color: white; /* Changed to white */
}

.course-card .card-title:is(:hover, :focus) { 
  color: white; /* Changed to white */
}

.course-card :is(.wrapper, .rating-wrapper, .card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
  color: white; /* Changed to white */
}

.course-card .wrapper { 
  gap: 10px; 
}

.course-card .rating-wrapper { 
  gap: 3px; 
}

.course-card .rating-wrapper ion-icon { 
  color: var(--selective-yellow); 
}

.course-card .rating-text {
  color: white; /* Changed to white */
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.course-card .price {
  color: var(--radical-red);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  margin-block: 8px 15px;
}

.course-card .card-meta-list { 
  flex-wrap: wrap; 
}

.course-card .card-meta-item {
  position: relative;
  gap: 5px;
}

.course-card .card-meta-item:not(:last-child)::after {
  content: "|";
  display: inline-block;
  color: white; /* Changed to white */
  padding-inline: 10px;
}

.course-card .card-meta-item ion-icon {
  color: white; /* Changed to white */
  --ionicon-stroke-width: 50px;
}

.course-card .card-meta-item .span {
  color: white; /* Changed to white */
  font-size: var(--fs-7);
}

.course .btn {
  margin-inline: auto;
  margin-block-start: 60px;
  background-color: var(--primary-color);
  color: white; /* Changed to white */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: var(--radius-5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course .btn:hover {
  background-color: var(--primary-color-hover);
}





/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/

.video {
  background-size: contain;
  background-position: center top;
}

.video-banner {
  position: relative;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 120px;
}

.video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--radical-red);
  font-size: 30px;
  padding: 16px;
  color: var(--white);
  border-radius: var(--radius-circle);
  box-shadow: 0 0 0 0 var(--white_50);
  z-index: 1;
  animation: pulse 3s ease infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--white_50); }
  100% { box-shadow: 0 0 0 20px transparent; }
}






/*-----------------------------------*\
  #STATS
\*-----------------------------------*/

.stats-card {
  text-align: center;
  padding: 25px;
  border-radius: var(--radius-10);
}

.stats-card :is(.card-title, .card-text) { font-family: var(--ff-league_spartan); }

.stats-card .card-title {
  color: hsl(var(--color));
  font-size: var(--fs-2);
  line-height: 1.1;
}

.stats-card .card-text {
  color: var(--eerie-black-1);
  text-transform: uppercase;
}





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog-card .card-banner { border-radius: var(--radius-10); }

.blog-card .card-banner .img-cover { transition: var(--transition-2); }

.blog-card .card-banner::after {
  inset: 0;
  background-color: var(--black_50);
  opacity: 0;
  transition: var(--transition-1);
}

.blog-card:is(:hover, :focus-within) .card-banner .img-cover { transform: scale(1.1); }

.blog-card:is(:hover, :focus-within) .card-banner::after { opacity: 1; }

.blog-card .card-content {
  position: relative;
  margin-inline: 15px;
  background-color: var(--white);
  padding: 20px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-3);
  margin-block-start: -100px;
  z-index: 1;
}

.blog-card .card-btn {
  position: absolute;
  top: -40px;
  right: 30px;
  background-color: var(--kappel);
  color: var(--white);
  font-size: 20px;
  padding: 20px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  opacity: 0;
}

.blog-card .card-btn:is(:hover, :focus) { background-color: var(--radical-red); }

.blog-card:is(:hover, :focus-within) .card-btn {
  opacity: 1;
  transform: translateY(10px);
}

.blog-card :is(.card-meta-item, .card-text, .card-subtitle) {
  font-size: var(--fs-5);
}

.blog-card .card-subtitle { text-transform: uppercase; }

.blog-card .card-title {
  margin-block: 10px 15px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) { color: var(--kappel); }

.blog-card :is(.card-meta-list, .card-meta-item) { display: flex; }

.blog-card .card-meta-list {
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-block-end: 20px;
}

.blog-card .card-meta-item {
  gap: 10px;
  align-items: center;
  color: var(--eerie-black-1);
}

.blog-card .card-meta-item ion-icon {
  color: var(--kappel);
  font-size: 18px;
  --ionicon-stroke-width: 40px;
}





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-repeat: no-repeat;
  background-color: var(--eerie-black-2);
  color: var(--gray-x-11);
  font-size: var(--fs-5);
}

.footer-top {
  display: grid;
  gap: 30px;
}

.footer-brand-text { margin-block: 20px; }

.footer-brand .wrapper {
  display: flex;
  gap: 5px;
}

.footer-brand .wrapper .span { font-weight: var(--fw-500); }

.footer-link { transition: var(--transition-1); }

.footer-link:is(:hover, :focus) { color: var(--kappel); }

.footer-list-title {
  color: var(--white);
  font-family: var(--ff-league_spartan);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  margin-block-end: 10px;
}

.footer-list .footer-link { padding-block: 5px; }

.newsletter-form { margin-block: 20px 35px; }

.newsletter-form .input-field {
  background-color: var(--white);
  padding: 12px;
  border-radius: var(--radius-5);
  margin-block-end: 20px;
}

.newsletter-form .btn {
  min-width: 100%;
  justify-content: center;
}

.social-list {
  display: flex;
  gap: 25px;
}

.social-link { font-size: 20px; }

.footer-bottom {
  border-block-start: 1px solid var(--eerie-black-1);
  padding-block: 30px;
}

.copyright { text-align: center; }

.copyright-link {
  color: var(--kappel);
  display: inline-block;
}





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: var(--kappel);
  color: var(--white);
  font-size: 20px;
  padding: 15px;
  border-radius: var(--radius-circle);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.back-top-btn.active {
  transform: translateY(10px);
  opacity: 1;
  pointer-events: all;
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .grid-list { grid-template-columns: 1fr 1fr; }

  :is(.course, .blog) .grid-list { grid-template-columns: 1fr; }



  /**
   * HEADER
   */

  .header .container { max-width: unset; }

  .header-actions { gap: 30px; }



  /**
   * HERO
   */

  .hero-banner { grid-template-columns: 1fr 0.9fr; }



  /**
   * VIDEO
   */

  .video .play-btn { padding: 25px; }



  /**
   * STATS
   */

  .stats-card { padding: 40px 30px; }



  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:last-child { grid-column: 1 / 3; }

  .newsletter-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .newsletter-form .input-field { margin-block-end: 0; }

  .newsletter-form .btn { min-width: max-content; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4.6rem;
    --fs-2: 3.8rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .btn { padding: 15px 30px; }

  :is(.course, .blog) .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * HEADER
   */

  .header .container { padding-inline: 30px; }

  .header .btn {
    display: flex;
    padding: 10px 30px;
    margin-inline: 20px;
  }



  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 90px); }

  .hero .container { gap: 50px; }

  .hero-text { margin-block-end: 30px; }

  .hero-banner {
    position: relative;
    z-index: 1;
  }

  .hero-banner .img-holder { max-width: max-content; }

  .hero-banner .img-holder.one { justify-self: flex-end; }

  .hero-banner .img-holder.two { margin-block-start: 100px; }

  .hero-shape-1 {
    display: block;
    position: absolute;
    bottom: -40px;
    left: -100px;
  }



  /**
   * ABOUT
   */

  .about { padding-block-start: 50px; }

  .about-banner {
    padding: 60px;
    padding-inline-end: 0;
  }

  .about-banner .img-holder {
    max-width: max-content;
    margin-inline: auto;
  }

  .about-shape-1 {
    display: block;
    top: -40px;
    right: -70px;
  }



  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:last-child { grid-column: auto; }

  .newsletter-form .btn { padding-block: 10px; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5.5rem;
    --fs-2: 4.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .grid-list { grid-template-columns: repeat(4, 1fr); }

  :is(.course, .blog) .grid-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * HERO
   */

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero .section-title,
  .hero-text { text-align: left; }

  .hero .btn { margin-inline: 0; }



  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.6fr;
    align-items: center;
    gap: 60px;
  }



  /**
   * VIDEO
   */

  .video-banner {
    max-width: 75%;
    margin-inline: auto;
  }



  /**
   * FOOTER
   */

  .footer .grid-list { grid-template-columns: 1fr 0.6fr 0.6fr 1.2fr; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.5rem;

    /**
     * spacing
     */

    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1185px; }

  .shape { display: block; }

  .about-content,
  .video-card,
  .blog { position: relative; }



  /**
   * HEADER
   */

  .header-action-btn:last-child,
  .navbar .wrapper,
  .overlay { display: none; }

  .header.active {
    transform: translateY(-100%);
    animation: slideIn 0.5s ease forwards;
  }

  @keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
  }

  .navbar,
  .navbar.active { all: unset; }

  .navbar-list {
    display: flex;
    gap: 50px;
    padding: 0;
  }

  .navbar-item:not(:last-child) { border-block-end: none; }

  .navbar-link {
    color: var(--eerie-black-1);
    padding-block: 20px;
  }

  .header .btn { margin-inline-end: 0; }



  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 120px); }

  .hero .container { gap: 80px; }

  .hero-shape-2 {
    top: -80px;
    z-index: -1;
  }



  /**
   * ABOUT
   */

  .about .container { gap: 110px; }

  .about-banner .img-holder { margin-inline: 0; }

  .about-shape-3 {
    top: -20px;
    left: -100px;
    z-index: -1;
  }

  .about-content { z-index: 1; }

  .about-shape-4 {
    top: 30px;
    right: -60px;
    z-index: -1;
  }



  /**
   * VIDEO
   */

  .video-shape-1 {
    top: -50px;
    left: 0;
  }

  .video-shape-2 {
    top: -80px;
    right: 120px;
    z-index: 1;
  }



  /**
   * BLOG
   */

  .blog-shape {
    top: 0;
    left: 0;
  }

}